{% extends 'base.html' %}

{% block title %}Add Part{% endblock %}

{% block content %}
<div class="container">
    <h1>Add Part</h1>
    <form method="POST" action="{{ url_for('main.addParts') }}" enctype="multipart/form-data" autocomplete="off">

        <label for="name">Part Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br>

        <label for="number_of_parts">Number of Parts:</label>
        <input type="number" id="number_of_parts" name="number_of_parts"><br>

        <label for="tolerance">Tolerance:</label>
        <select id="tolerance" name="tolerance">
            <option value="1">1</option>
            <option value="0.1">0.1</option>
            <option value="0.01">0.01</option>
            <option value="0.001">0.001</option>
        </select><br>

        <label for="photo">Drawing Sheet PDF:</label>
        <input type="file" id="photo" name="photo" accept="application/pdf" required><br>

        <label for="drawing_sheet_creator">Drawing Sheet Creator:</label>
        <input type="text" id="drawing_sheet_creator" name="drawing_sheet_creator"><br>

        <button type="submit">Add Part</button>
    </form>
</div>
{% endblock %}