{% extends 'base.html' %}

{% block title %}Assign Parts{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/assignParts.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Assign Parts</h1>
    <div class="parts-grid" id="parts-grid">
        {% for part in parts %}
        {% if part[12] == 'Awaiting_Approval' %}
        <div class="part-box">
            <a href="{{ url_for('main.edit_part', part_id=part[0]) }}">
                <embed
                    src="{{ url_for('static', filename='partsStudio/' + part[1] + '.pdf') }}"
                    type="application/pdf"
                    width="100%"
                    height="150px" />
                <h3>{{ part[1] }}</h3>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}