{% extends 'base.html' %}

{% block title %}Edit Part{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editPart.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Part</h1>
    <embed src="{{ url_for('static', filename='partsStudio/' + part[1] + '.pdf') }}" type="application/pdf" class="pdf-viewer" />
    <form id="editPartForm" action="{{ url_for('main.edit_part', part_id=part[0]) }}" method="post">
        <label for="name">Part Name:</label>
        <input type="text" id="name" name="name" value="{{ part[1] }}" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description">{{ part[3] }}</textarea><br>

        <label for="priority">Priority:</label>
        <input type="number" id="priority" name="priority" value="{{ part[4] or 1 }}" max="4" min="1"><br>

        <label for="number_of_parts">Number of Parts:</label>
        <input type="number" id="number_of_parts" name="number_of_parts" value="{{ part[5] or 1 }}" min="1"><br>

        <label for="machine_type">Machine Type:</label>
        <select id="machine_type" name="machine_type" required>
            <option value="handtools" {% if part[6] == 'handtools' %}selected{% endif %}>Handtools</option>
            <option value="lathe" {% if part[6] == 'lathe' %}selected{% endif %}>Lathe</option>
            <option value="mill" {% if part[6] == 'mill' %}selected{% endif %}>Mill</option>
            <option value="cnc" {% if part[6] == 'cnc' %}selected{% endif %}>CNC</option>
            <option value="lazer cutter" {% if part[6] == 'lazer cutter' %}selected{% endif %}>Lazer Cutter</option>
        </select><br>

        <label for="difficulty">Difficulty:</label>
        <input type="number" id="difficulty" name="difficulty" value="{{ part[7] }}"><br>

        <label for="tolerance">Tolerance:</label>
        <select id="tolerance" name="tolerance">
            <option value="0.025" {% if part[8] == '0.025' %}selected{% endif %}>0.025</option>
            <option value="0.010" {% if part[8] == '0.010' %}selected{% endif %}>0.01</option>
            <option value="0.005" {% if part[8] == '0.005' %}selected{% endif %}>0.005</option>
        </select><br>

        <label for="mech_type">Mech Type:</label>
        <select id="mech_type" name="mech_type">
            <option value="pivot" {% if part[11] == 'pivot' %}selected{% endif %}>Pivot</option>
            <option value="differential" {% if part[11] == 'differential' %}selected{% endif %}>Differential</option>
            <option value="elevator" {% if part[11] == 'elevator' %}selected{% endif %}>Elevator</option>
            <option value="intake" {% if part[11] == 'intake' %}selected{% endif %}>Intake</option>
            <option value="climb" {% if part[11] == 'climb' %}selected{% endif %}>Climb</option>
        </select><br>

        <label for="drawing_sheet_creator">Drawing Sheet Creator:</label>
        <input type="text" id="drawing_sheet_creator" name="drawing_sheet_creator" value="{{ part[10] }}"><br>

        <!-- <label for="assigned_machinist">Assigned Machinist:</label>
        <select id="assigned_machinist" name="assigned_machinist">
            <option value="">Select a machinist</option>
            {% for p in people %}
            <option value="{{ p[1] }}" {% if part[9] == p[1] %}selected{% endif %}>{{ p[1] }}</option>
            {% endfor %}
        </select><br> -->

        <button type="submit">Update Part</button>
    </form>
</div>
{% endblock %}
