<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <title>Header</title>
</head>
<body>
    <header>
        <a href="{{ url_for('main.home') }}">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Main Menu" class="logo">
        </a>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.shoptime') }}">Shoptime</a></li>
                <li><a href="{{ url_for('main.viewParts') }}">View Parts</a></li>
                <li><a href="{{ url_for('main.assignParts') }}">Assign Parts</a></li>
                <li><a href="{{ url_for('main.addParts') }}">Add Parts</a></li>
                <li><a href="{{ url_for('main.QC') }}">QC</a></li>
            </ul>
        </nav>
        <div class="search-container">
            <form action="{{ url_for('main.search_person') }}" method="get">
                <input type="text" id="search" name="name" placeholder="Search by name..." autocomplete="off">
                <div id="autocomplete-list" class="autocomplete-items"></div>
                <button type="submit">Search</button>
            </form>
        </div>
    </header>
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
</body>
</html>