{% extends 'base.html' %}

{% block title %}View Parts{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/viewParts.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>View Parts</h1>
    <div class="parts-grid" id="parts-grid">
        {% for part in parts %}
        <div class="part-box">
            <a href="{{ url_for('main.view_part', part_id=part[0]) }}">
                <embed src="{{ url_for('static', filename='partsStudio/' + part[1] + '.pdf') }}" type="application/pdf" width="100%" height="150px" />
                <h3>{{ part[1] }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
function sortParts() {
    const sortBy = document.getElementById('sort-by').value;
    const partsGrid = document.getElementById('parts-grid');
    const parts = Array.from(partsGrid.getElementsByClassName('part-box'));

    parts.sort((a, b) => {
        const aValue = a.getAttribute(`data-${sortBy}`).toLowerCase();
        const bValue = b.getAttribute(`data-${sortBy}`).toLowerCase();

        if (aValue < bValue) return -1;
        if (aValue > bValue) return 1;
        return 0;
    });

    parts.forEach(part => partsGrid.appendChild(part));
}
</script>
{% endblock %}